{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Coaching list</h1>

    <table class="records_list">
        <thead>
            <tr>

                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.description |raw}}</td>
                <td>
                <ul>
                    <li>
                       <a href="{{ path('coaching_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                  <a href="{{ path('coaching_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('coaching_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
